.detailed {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dateWork {
	margin-top: 15px;
}

.link {
	text-decoration: underline;
}

.li {
	display: flex;
	justify-content: space-between;
}

.li + .li {
	margin-top: 5px;
}

.wrapDiv {
	margin-left: 5px;
}

.slider {
	margin-top: 15px;
	width: 90%;
}

.slider img {
	width: 100%;
	height: auto;
}

.linkMap {
	margin-top: 10px;
}
