* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-image: linear-gradient(
		to bottom right,
		rgb(88, 186, 239),
		rgb(184, 38, 189)
	);
	background-attachment: fixed;
}

ul {
	list-style-type: none;
}

a {
	color: rgb(10, 10, 10);
	font-family: 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 1.2rem;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.leaflet-bottom + .leaflet-right {
	display: none;
}