.btn {
	--light-blue: #644dff;
	--blue: #4836bb;
	--dark-blue: #654dff63;
	cursor: pointer;
	width: 184px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: var(--light-blue);
	border: 2px solid var(--blue);
	border-radius: 0.75rem;
	box-shadow: 0 4px 0 var(--blue);
	transition: all 0.1s ease;
}

.btn:active {
	transform: skew(-5deg) translateY(4px);
	box-shadow: 0 0 0 var(--dark-blue);
}
